<h1>プロフィール</h1>

<div class="profile-link">
  <%= link_to "アカウント確認へ", "/show" %>
  <%= link_to "編集", profile_edit_path, class: "link-edit" %>
</div>

<% if flash[:notice] %>
  <p class="notice subTitle"><%= flash[:notice] %></p>
<% end %>

<div class="user-profile" >
  <div class="info-container" >
    <div class="info-section" >
      <h3 class="info-title" >アイコン画像</h3>
      <p class="info-value"><%= display_user_avatar(current_user) %></p>
    </div>

    <div class="info-section" >
      <h3 class="info-title" >名前</h3>
      <p class="info-value"><%= @user.name %></p>
    </div>

    <div class="info-section" >
      <h3 class="info-title" >自己紹介</h3>
      <p class="info-value"><%= @user.profile %></p>
    </div>
  </div>
</div>



