<!--予約施設一覧-->
<h1>予約一覧</h1>

<% if flash[:notice] %>
  <p class="notice subTitle"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <table>
    <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計料金</th>
      <th>チェックイン日</th>
      <th>チェックアウト日</th>
      <th>予約確定日時</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
          <tr>
            <td><%= display_room_avatar(reservation.room, class: 'room-index-img') %></td>
            <td><%= link_to reservation.room.name, room_path(reservation.room) %></td>
            <td><%= reservation.room.introduction %></td>
            <td><span>¥</span><%= reservation.price %></td>
            <td><%= reservation.start_day.strftime('%Y/%m/%d') %></td>
            <td><%= reservation.end_day.strftime('%Y/%m/%d') %></td>
            <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= link_to "削除", reservation, method: :delete, data: { confirm: "削除してよろしいですか?" } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>