<!--施設一覧-->
<h1>登録済み一覧</h1>

<% if flash[:notice] %>
  <p class="notice subTitle"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <table class="table-container" >
    <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= display_room_avatar(room, class: 'room-index-img') %></td>
          <td><%= link_to room.name, room %></td>
          <td><%= room.introduction %></td>
          <td><span>¥</span><%= room.price %></td>
          <td><%= room.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "削除", room, method: :delete, data: { confirm: "削除してよろしいですか?" } %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>